*.pyc

venv/

.idea/
.vscode/

*.log
*.tmp


.env
db.sqlite3
*.log

node_modules/
build/
coverage/
*.local-*
*.map
yarn-error.log


/productionfiles/

*.zip

.gitignore

db.sqlite3

requirements.txt

/migrations/.*

/ebextensions/.*